body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  line-height: 1.6em;
  padding: 40px 20px;
  max-width: 800px;
  margin: auto;
  color: #414141;
}
a {
  color: #414141;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #414141;
}
h1 {
  text-align: center;
  margin-bottom: 1em;
  line-height: 45px;
}

.logo-container {
  text-align: center;
  margin-bottom: 20px;
}
.logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #ff8c00, #ff0000);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.app-store-button-container {
  text-align: center;
}

.app-store-button {
  display: inline-block;
}

footer a {
  margin: 0 10px;
}

footer {
  text-align: center;
  margin-top: 2em;
  font-size: 0.7em;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 600px) {
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 2.2em;
  }
  h2 {
    font-size: 1.4em;
  }
}
